@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --hover_color: brown;
  --font-1: "Roboto", sans-serif;
}
.font-1 {
  font-family: var(--font-1);
}

.max-width-1 {
  width: 80vw;
}
.max-width-2 {
  width: 80vw;
}
.m-auto {
  margin: auto;
}
#logo {
  height: 100px;
  width: 150px;
  transform: translate(20px, 0px);
}
.content-left {
  width: 70%;
  height: 100%;
  transform: translate(10px, -20px);
}
.img {
  height: 250px;
  width: 100%;
}
.content-right {
  width: 20%;
  height: 100%;
}
.blog-img {
  height: 200px;
  width: 300px;
}
.blog-content {
  /* height: 200px;
  width: 300px; */
}
